body{
    margin: 0;
    padding: 0;
}
:root{
    --background: rgb(255,255,255);
    --background-linear1: rgba(255,255,255,1);
    --background-linear2: rgb(255, 145, 246);
    --container: #353535d3;
    --text-color: white;
    --screen: #35353500;
    --btn-hover: black;
    --btn-hover-text: #fff56d;
    --shadow: rgba(59, 59, 59, 0.75);
}
span{
    font-weight: 300;
    font-size: 80px;
}
p{
    font-weight: 300;
    font-size: 64px;
    padding-bottom: 20px;
    text-align: center;
}
.c-body{
    background: var(--background);
    background: linear-gradient(135deg, var(--background-linear1) 0%, var(--background-linear2) 70%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-time{
    font-family: 'Courier New';
    background-color: var(--container);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 11px 17px 22px 0px var(--shadow);
}
.c-time>.screen{
    color: var(--text-color);
    background-color: var(--screen);
    margin: 6px;
    text-align: center;
}
.c-btn{
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;    
    margin: 15px 100px;
}

.c-btn>button{    
    display: block;
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;

    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    color: var(--text-color);
}